<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangyonggan.activiti.mapper.DefinitionApplyMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.activiti.model.DefinitionApply">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="zip_pame" property="zipName" jdbcType="VARCHAR"/>
        <result column="zip_path" property="zipPath" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAllReply" resultType="com.kangyonggan.activiti.dto.ReplyDto">
        SELECT
          a.START_TIME_ AS startTime,
          a.END_TIME_ AS endTime,
          c.TEXT_ AS replyMsg,
          d.TEXT_ AS replyUser,
          e.TEXT_ AS status
        FROM act_hi_taskinst a
        LEFT JOIN act_hi_procinst b
          ON a.PROC_INST_ID_ = b.PROC_INST_ID_
        LEFT JOIN act_hi_varinst c
          ON a.PROC_INST_ID_ = c.PROC_INST_ID_
        LEFT JOIN act_hi_varinst d
          ON a.PROC_INST_ID_ = d.PROC_INST_ID_
        LEFT JOIN act_hi_varinst e
          ON a.PROC_INST_ID_ = e.PROC_INST_ID_
        <where>
            b.BUSINESS_KEY_ = #{serialNo}
            AND c.NAME_ = CONCAT(a.ID_, ':replyMsg')
            AND d.NAME_ = CONCAT(a.ID_, ':replyUser')
            AND e.NAME_ = CONCAT(a.ID_, ':status')
            AND a.ASSIGNEE_ != #{username}
        </where>
    </select>
</mapper>