.loading {
    margin-left: 15px;
}

#login-box {
    border: 1px solid #c6487e;
}

.error {
    color: red;
}

.empty {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
}

.required:after {
    color: red;
    content: "*";
}

input[readonly].readonly {
    background: #fff !important;
    cursor: pointer !important;
}

select.form-control {
    min-width: 158px;
}